$breakpoint-md: 768px;


.header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: 0.05);
}

// Banner
.banner {
  width: 100%;
  height: 3rem;
  position: relative;
}

// Navbar
.navbar {
  width: 100%;

  &__container {
    width: 100%;
    padding: 1rem 2rem;
  }

  &__nav {
    width: 100%;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
  }

  &__list {
    gap: 0.75rem;
    display: flex;
    align-items: center;
    list-style-type: none;

    &_item {
      gap: 0.25rem;
      display: flex;
      color: #a8a8a8;
      text-align: center;
      align-items: center;
      text-decoration: none;
      transition: color 0.15s ease-in;

      &:hover {
        color: #000000;
      }
    }
  }
}

// Search Bar
.searchbar {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;

  &__logo {
    @media screen and (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__main {
    display: flex;
    width: 30rem;
    border-radius: 0.25rem;
    background-color: #ececec;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint-md) {
      flex: 1;
      width: 0;
    }
  }

  &__input {
    border: 0;
    outline: 0;
    width: 100%;
    padding-inline: 1rem;
    background-color: transparent;
  }

  &__button {
    border: none;
    width: 3rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #ffffff;
    border-radius: inherit;
    cursor: pointer;
    transition: opacity 0.2s ease;
    background-color: #2d84ff;

    &:hover {
      opacity: 0.8;
    }
  }

  &__cart {
    position: relative;

    &_badge {
      top: -1rem;
      right: -1rem;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.25rem;
      color: #ffffff;
      position: absolute;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      background-color: #2d84ff;
    }

    @media screen and (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
